html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
	margin: 0;
	padding: 0;
}

fieldset,
c {
	border: none;
}

img {
	display: block;
}

address,
caption,
cite,
code,
dfn,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ul,
ol,
li {
	list-style: none;
}

body {
	color: #333;
	font-size: 14px;
	background-color: #f5f7fa
}

a {
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/*清除浮动*/
.clearfix::after {
	clear: both;
	content: "";
	display: table;
	
}
.w{
	width: 1080px;
	margin: 0 auto;
	position: relative;
}
* {
	/* box-sizing: border-box */
}
.el-card{
	background-color: #ebeef5;
}
